.Page2 .secondForm {
  border: 1px solid #818181;
  border-radius: 15px;
  padding-bottom: 80px;
  margin-top: 50px;
  background-color: white;
}

.Page2 .secondForm .headingPage2 {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  color: #006bff;
}

.Page2 .secondForm .box {
  border: 1px solid #006bff;
  text-align: right;
  padding: 5px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.Page2 .secondForm .box .pln-box2 {
  font-weight: bold;
}

.Page2 .secondForm .box .mc-box2 {
  font-weight: bold;
}

.Page2 .secondForm .miniForm .heading6Page2 {
  text-transform: uppercase;
  font-size: 10px;
  margin: 20px 20px 10px;
}

.Page2 .secondForm .miniForm .input-group {
  margin: 0 5%;
  width: 90%;
}

.Page2 .secondForm .miniForm .input-group-text {
  color: #006bff;
}

.Page2 .secondForm .miniForm .form-check {
  margin-left: 5%;
}

.Page2 .secondForm .miniForm .form-check .radioBox {
  margin-left: 10px;
}

.Page2 .secondForm .miniForm .form-check input {
  border-color: #006bff;
}

.Page2 .secondForm .miniForm .form-check label {
  font-size: 13px;
}

.Page2 .secondForm .miniForm .form-check a {
  color: black;
}

.Page2 .secondForm .miniForm button {
  text-transform: uppercase;
}
