.Page4 {
  padding: 10vh 0 20vh;
  text-align: center;
  z-index: 1;
}

.Page4 h1 {
  padding: 40px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  font-weight: bold;
}

.Page4 h1 .color {
  color: #006bff;
}
