.about {
    text-align: justify;
    padding-bottom: 10vh;
    h1 {
        text-align: center;
        font-weight: bold;
        margin-top:10vh;
        margin-bottom:10vh;
        .smaller {
            font-size: 0.75em;
        }
    }
    img{
        border:1px solid black;
        border-radius:300px;
        width:100%;
    }
}