#main{
    padding-bottom: 20vh;
    .KK {
        font-size: 3.5em;
        text-align: right;
        margin-top: 30vh;
    }
    .hi {
        margin-top: 30vh;
        .color{
            background-color: white;
            padding: 2px 5px;
            border-radius: 5px;
        }
        button {
            margin: 5vh auto;
            padding:10px 40px;
            border-radius: 10px;
            display: block;
            a{
                text-decoration: none;
                color: $font-color;
                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
}
