nav {
    transition: transform 0.3s;
    z-index: 9999;
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px 20px;
        font-size: 36px;
        background: none;
        border: none;
        cursor: pointer;
        color: #fff;
        transition: transform 0.3s;

    }
    ul {
        text-transform: uppercase;
        position: fixed;
        height: 100vh;
        width: 300px;
        left: -300px;
        transition: transform 0.3s;
        background-color: white;
        list-style: none;
        padding-top: 30px;
        li {
            padding-top: 20px;
        }
        a {
            color: black;
            display: block;
            text-decoration: none;
            &:hover {
                color: black;
                font-weight: bold;
            }
        }
    }
    .active {
        transform: translateX(300px);
    }
    .hide {
        display: none;
    }
}
