.projo{

    h1 {
        text-align: center;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
    h6{
        margin-top:10px;
    }
        li{
            font-size: .75em;
        }

    p {
        text-align: center;
        a {
            text-decoration: none;
            color: $font-color;
        }
        .color {
            background-color: white;
            padding: 2px 5px;
            border-radius: 5px;
        }
    }
    .hide{
        display:none;
    }
    .rotate{
        transform: rotate(180deg)
    }
    
    .projects{
        border: 1px solid black;
        border-radius: 5px;
        margin-top: 15px;
        padding: 2px 10px;
        background-color: white;
        &:hover{
            padding: 5px 15px;
            background-color: rgb(165, 163, 163);
            cursor: pointer;
        }

    }
    
}