
    .technologies{
        text-align:center;
        margin-top:10vh;
        .fab, .fas{
            color: black;
        }
        .ajax{
            transform: rotate(90deg);
        }

        h2{
            text-align:center;
            .color{
                font-size:1em;
                background-color: white;
                padding: 2px 5px;
                border-radius: 5px;
            }
        }

    }