@import "_colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body {
    background-color: rgb(148, 126, 126);
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial;
    scroll-behavior: smooth;
    @import "_nav.scss";
    @import "_hi.scss";
    @import "_about.scss";
    @import "_tech.scss";
    @import "_portfolio.scss";
    // @import "_contact.scss";

    .contact {
        h3 {
            .color {
                font-size: 1em;
                border: 1px solid black;
                border-radius: 5px;
                background-color: white;
            }
        }
        .con {
            font-size: 1em;
            &:hover {
                cursor: pointer;
            }
            a{
                text-decoration: none;
                color:black;
            }
        }
        // .hide {
        //     display: none;
        // }
        // .popupContact {
        //     height: 30vh;
        //     border: 1px solid black;
        //     border-radius: 5px;
        //     .fa-times {
        //         color: black;
        //     }
        // }
    }
}
