* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: white;
}
.app {
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #1a263d;
    .fa-map-marked-alt {
        margin: 15px 0 0 10px;
    }

    h1 {
        padding: 5px 0;
        text-align: center;
        font-size: 1em;
        border-bottom: 1px solid white;
    }
    .place {
        text-align: center;
        font-size: 2.5em;
        text-transform: uppercase;
    }
    img {
        height: 250px;
        width: 250px;
        margin: 0 auto;
        text-align: center;
    }
    .temp {
        text-align: center;
        font-size: 3.5em;
        color: white;
    }
    .about {
        .specific {
            text-align: center;
        }
        .specific-info {
            text-align: center;
        }
        .space {
            background-color: white;
            height: 5px;
            border-radius: 20px;
            margin-top: 50px;
        }
    }

    .popUp {
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 10%;
        transition: transform 0.3s;
        color: black;
        width: 80%;
        position: absolute;
        text-align: center;
        padding: 5vh 0 5vh;
        border: 1px solid black;
        border-radius: 20px;
        color: black;
        h2 {
            color: black;
            text-transform: uppercase;
        }
        .change-city {
            color: black;
            border-radius: 10px;
            padding: 2px 15px;
            background-color: #2e3a52;
            color: white;
        }
        input {
            color: black;
        }
    }
    .fa-map-marked-alt:hover {
        cursor: pointer;
    }
    .error-info {
        color: red;
        
    }
}

//mobile
@media screen and (min-width: 320px) and (max-width: 768px) {
    .app {
        height: 100vh;
        width: 100vw;
        margin: 0;
        border-radius: 0;
        .popUp {
            width: 100%;
            left: 0;
        }
    }
}
