* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #BFC1DC;
  color: #494949;
}

* h1 {
  padding-top: 15vh;
  text-align: left;
}

* .icon {
  padding-top: 20vh;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #000000;
  font-size: 23px;
}

.link:hover {
  color: #303030;
  font-weight: bold;
}

.link .far:hover {
  padding-top: 5px;
}
