* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

* nav {
  background-color: #3a3a3a;
  padding: 15px 0 15px 0;
  font-size: 12px;
  text-align: left;
}

* nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

* nav .active {
  color: #2eb398;
}

* nav .arrow {
  background-color: #3a3a3a;
  width: 60px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(45deg);
}

* nav .arrow .fa-angle-down {
  transform: rotate(-45deg);
  color: white;
}

* nav .bar, * nav .bar2 {
  position: absolute;
  width: 35vw;
  background-color: #e4e9eb;
  height: 2px;
}

* nav .bar {
  margin: 25px 65px;
}

* nav .bar2 {
  margin: 25px 60vw;
}

* .portfolio {
  margin-bottom: 80px;
  margin-top: 10vh;
}

* .portfolio .hexagon {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: -35px;
}

* .portfolio .st1st {
  background-image: url("../img/6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .st2nd {
  background-image: url("../img/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .st3rd {
  background-image: url("../img/8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .st4th {
  background-image: url("../img/7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .sd1st {
  background-image: url("../img/12.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .sd2nd {
  background-image: url("../img/11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .sd3rd {
  background-image: url("../img/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .sd4th {
  background-image: url("../img/10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .sd5th {
  background-image: url("../img/9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .rd1st {
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .rd2nd {
  background-image: url("../img/13.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .rd3rd {
  background-image: url("../img/4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .portfolio .rd4th {
  background-image: url("../img/2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* .about {
  background-color: #2eb398;
}

* .about .row {
  padding: 10vh 0 15vh;
}

* .about .row .hexagon {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 200px;
  height: 200px;
}

* .about .row .profile {
  background-image: url("../img/profile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

* .about .row h1 {
  color: #ccf7ef;
}

* .about .row h3 {
  margin-top: -17px;
  color: #248e78;
}

* .about .row p {
  text-align: justify;
  margin-top: 17px;
  margin-bottom: 80px;
  color: #ccf7ef;
}

* .about .social {
  opacity: 60%;
}

* .about .social ul {
  list-style-type: none;
  margin-top: 50px;
}

* .about .social ul li {
  display: inline;
  width: 20px;
  height: 20px;
}

* .contact {
  background-color: #3a3a3a;
}

* .contact form h1,
* .contact form p {
  color: #fff;
}

* .contact form h1 {
  margin-top: 40px;
}

* .contact form input {
  display: block;
  background-color: #454545;
  color: #fff;
  height: 40px;
  border: none;
}

* .contact form .text {
  border: none;
  background-color: #454545;
  color: #fff;
  display: block;
  height: 200px;
}

* .contact form .submit {
  margin-top: 10px;
  background-color: #2eb398;
  text-transform: uppercase;
}

* .contact .error {
  color: #9e1919;
}

* .adres {
  text-align: justify;
  margin-top: 130px;
  color: #fff;
}

* .adres ul {
  margin-left: -30px;
  margin-top: 30px;
  list-style: none;
}

* .adres ul .fas {
  color: #2eb398;
}

* .adres ul li {
  margin-top: 5px;
  color: #fff;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  nav {
    text-align: center;
  }
  nav .arrow {
    display: none;
  }
  nav .bar {
    position: relative;
    margin: 25px auto;
    width: 60vw;
  }
  nav .bar2 {
    display: none;
  }
  .portfolio .hexagon {
    width: 150px;
    height: 150px;
    margin: 20px auto 0 auto;
  }
  .about .profile {
    margin: 0 auto;
  }
  .about .social {
    margin-right: 10px;
  }
  .contact input {
    margin-top: 10px;
  }
}
