@import "mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;

    @import "_nav.scss";
    @import "_portfolio.scss";
    @import "_about.scss";
    @import "_contact.scss";
}

@media screen and (min-width: 300px) and (max-width: 900px) {
    nav {
        text-align: center;

        .arrow {
            display: none;
        }
        .bar {
            // position: relative;
            margin: 25px -100px;
            width: 60vw;
        }
        .bar2 {
            display: none;
        }
    }

    .portfolio {
        .hexagon {
            width: 150px;
            height: 150px;
            margin: 20px auto 0 auto;
        }
    }
.about{
    .profile{
        margin: 0 auto;
    }
    .social{
        // margin-top: 80px;
        margin-right: 10px;
    }
}

    }
