*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background: url("https://gabriela-godek.pl/img/norway.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}